<%- include("partials/header.ejs") %>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="images/qr-generate.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    width="185" height="185" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-5 text1">This is your QR Code</h1>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <form action="/new" method="post">
                        <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2">Generate new QR Code</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>